.contact-us-form {
	grid-column: span 2 / span 2;

	@media (--bp-lg) {
		grid-column: span 1 / span 1;
	}
}

.contact-us-credits {
	grid-column: span 2 / span 2;

	@media (--bp-lg) {
		grid-column: span 1 / span 1;
	}
}
