@import "../_breakpoints.css";

.ad-160x600 {
	float: right;
	clear: right;
	margin-bottom: var(--wp--preset--spacing--44);
	margin-left: var(--wp--preset--spacing--44);
	display: none;

	@media (--bp-lg) {
		display: block;
	}
}

.ad-300x250 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: fit-content;
	border-width: 1.5rem;
	border-color: var(--wp--preset--color--laao-white);

	@media (--bp-lg) {
		display: none;
	}
}

.ad-728x90 {
	display: block;
	height: auto;
	width: 100%;
	max-width: 100%;
	background-color: rgb(255 255 255 / 0.2);
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	--tw-backdrop-blur: blur(16px);
	-webkit-backdrop-filter: var(--tw-backdrop-blur)
		var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
		var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
		var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
		var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);

	img {
		height: auto;
		width: 100%;
	}

	@media (--bp-md) {
		width: fit-content;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.ad-728x90:not(.wp-block-laao-hero .ad-728x90) {
	display: none;
	border-width: 1.5rem;
	border-color: var(--wp--preset--color--laao-white);
	padding: 0;

	@media (--bp-lg) {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: fit-content;

		img {
			height: auto;
			width: fit-content;
		}
	}
}

.ad-720x300 {
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--wp--preset--spacing--44);
	margin-bottom: var(--wp--preset--spacing--44);
	display: block;
	width: fit-content;
	border-width: 1.5rem;
	border-color: var(--wp--preset--color--laao-white);
}
