.site-article {
	.article-content {
		order: 2;
		grid-column: span 2 / span 2;
	}

	.article-images {
		order: 1;
		grid-column: span 2 / span 2;
	}

	@media (--bp-lg) {
		& {
			.article-content {
				order: 2;
				grid-column: span 1 / span 1;
			}

			.article-images {
				order: 1;
				grid-column: span 1 / span 1;
			}
		}
	}
}

li:has(.site-article):nth-child(2n) > .site-article {
	padding-bottom: var(--wp--preset--spacing--32) !important;
}

@media (--bp-lg) {
	li:has(.site-article):nth-child(2n) {
		.article-content {
			order: 1;
		}

		.article-images {
			order: 2;
		}
	}
}
