.site-footer {
	margin: 0;

	.wp-block-navigation,
	.wp-block-navigation__container {
		flex-direction: column;
		gap: var(--wp--preset--spacing--28);

		@media (--bp-md) {
			flex-direction: row;
			gap: var(--wp--preset--spacing--28);
		}

		.wp-block-navigation-item {
			@media (--bp-md) {
				&:not(:last-child)::after {
					position: absolute;
					right: calc(var(--wp--preset--spacing--16) * -1);
					bottom: 0;
					top: 0;
					color: var(--wp--preset--color--laao-red);
					--tw-content: "|";
					content: var(--tw-content);
				}
			}
		}

		.wp-block-navigation-link {
			@media (--bp-md) {
				flex-direction: row;
				color: var(--wp--preset--color--laao-white);
				transition-property: all;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				transition-duration: 150ms;

				&:hover {
					color: var(--wp--preset--color--laao-red);
				}
			}
		}
	}

	.wp-block-social-links {
		li {
			&:hover {
				color: var(--wp--preset--color--laao-red);
			}

			svg {
				height: var(--wp--preset--spacing--28);
				width: var(--wp--preset--spacing--28);
				fill: currentcolor;
			}
		}
	}

	.wp-block-laao-copyright-date-tag a {
		color: var(--wp--preset--color--laao-white);
		text-decoration-line: underline;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;

		&:hover {
			color: var(--wp--preset--color--laao-red);
		}
	}
}
