label {
	font-weight: 700;
	text-transform: uppercase;
	color: var(--wp--preset--color--laao-black);
}

input,
textarea,
select {
	border-radius: 0.375rem;
	background-color: var(--wp--preset--color--laao-light-gray);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

button[type="submit"] {
	background-color: var(--wp--preset--color--laao-red);
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	text-transform: uppercase;
	color: var(--wp--preset--color--laao-white);
}

select {
	height: 2.75rem;
	vertical-align: middle;
}
