.wp-block-query-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--wp--preset--spacing--4);

	.wp-block-query-pagination-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--wp--preset--spacing--4);

		.page-numbers {
			display: flex;
			height: 2.5rem;
			width: 2.5rem;
			align-items: center;
			justify-content: center;
			border-radius: 9999px;
			border-width: 1px;
			border-color: var(--wp--preset--color--laao-gray);
			font-weight: 700;
			color: var(--wp--preset--color--laao-gray);
			transition-property: all;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 300ms;

			&:hover {
				border-color: var(--wp--preset--color--laao-red);
				background-color: var(--wp--preset--color--laao-red);
				color: var(--wp--preset--color--laao-white);
			}
		}

		.dots {
			border-style: none;

			&:hover {
				background-color: inherit;
				color: var(--wp--preset--color--laao-gray);
			}
		}
	}

	.wp-block-query-pagination-next,
	.wp-block-query-pagination-previous {
		display: flex;
		height: 2.5rem;
		width: 2.5rem;
		align-items: center;
		justify-content: center;
		border-radius: 9999px;
		background-color: var(--wp--preset--color--laao-gray);
		padding-bottom: 0.5rem;
		font-size: 1.875rem;
		line-height: 2.25rem;
		color: var(--wp--preset--color--laao-white);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 300ms;

		&:hover {
			background-color: var(--wp--preset--color--laao-red);
		}

		span {
			margin: 0;
		}
	}
}
