.site-slogan {
	font-size: clamp(
		var(--wp--preset--font-size--normal),
		var(--wp--preset--font-size--x-large),
		var(--wp--preset--font-size--xx-large)
	);
	position: relative;

	display: grid;
	height: 3.75rem;
	width: 100%;
	place-items: center;
	overflow: hidden;

	h3 {
		display: flex;
		position: absolute;
		letter-spacing: 1vw;

		@media (--bp-md) {
			letter-spacing: 1.5vw;
		}
	}

	p {
		position: absolute;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		padding: 0;
		text-transform: uppercase;
		letter-spacing: 1vw;

		@media (--bp-lg) {
			letter-spacing: 1.5vw;
		}

		.letter {
			/* This will let you apply transforms to the span char elements. */
			display: inline-block;
		}
	}
}
