/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-laao-mobile-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--wp--preset--color--laao-red);

	svg {
		width: 32px;
		height: 32px;
		stroke: currentcolor;
		fill: currentcolor;
		transition: all 0.3s ease;
	}

	&:hover {
		color: var(--wp--preset--color--laao-black);
	}
}
