@import "../../styles/_breakpoints.css";

.wp-block-laao-mobile-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--wp--preset--color--laao-red);

	@media (--bp-2xl) {
		& {
			@apply hidden;
		}
	}

	svg {
		width: 32px;
		height: 32px;
		stroke: currentcolor;
		fill: currentcolor;
		transition: all 0.45s ease;
	}

	&:hover {
		color: var(--wp--preset--color--laao-black);
	}
}

.laao-mobile-nav-overlay {
	@apply fixed bottom-0 left-0 right-0 top-0 z-[998] bg-wp-laao-black opacity-0 transition-opacity duration-[450ms];
}

.laao-mobile-nav-open .laao-mobile-nav-overlay {
	@apply opacity-85;
}

.laao-mobile-nav-overlay-closing {
	@apply opacity-0;
}
