@import "../../styles/_breakpoints.css";

.wp-block-event-gallery {
	display: grid;
	grid-auto-rows: repeat(100px);
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 0.75rem;

	@media (--bp-sm) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	@media (--bp-md) {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.wp-block-event-gallery-item {
		& img {
			display: block;
			height: 100%;
			min-width: 100%;
			object-fit: cover;
			object-position: center;

			&:hover {
				cursor: zoom-in;
			}

			&:focus {
				outline-offset: 2px;
				outline-color: #b91c1c;
			}
		}
	}

	.wp-block-event-gallery-item:nth-child(odd) {
		grid-row: span 2 / span 2;
	}

	.wp-block-event-gallery-item:nth-last-child(3) {
		grid-row: span 2 / span 2;
	}

	.wp-block-event-gallery-item:nth-last-child(2) {
		grid-row: span 1 / span 1;
	}

	&.has-event-gallery-images-10 {
		.wp-block-event-gallery-item:nth-child(odd) {
			grid-row: span 2 / span 2;
		}

		.wp-block-event-gallery-item:nth-child(5) {
			grid-row: span 3 / span 3;
		}

		.wp-block-event-gallery-item:nth-last-child(3) {
			grid-row: span 1 / span 1;
		}

		.wp-block-event-gallery-item:nth-last-child(2) {
			grid-row: span 1 / span 1;
		}
	}
}
