@import "../../styles/_breakpoints.css";

@keyframes lightbox-zoom-in {
	0% {
		transform: translate(
				/* stylelint-disable-next-line scss/operator-no-newline-after */
					calc(
						(-100vw + var(--wp--lightbox-scrollbar-width)) / 2 +
							var(--wp--lightbox-initial-left-position)
					),
				calc(-50vh + var(--wp--lightbox-initial-top-position))
			)
			scale(var(--wp--lightbox-scale));
	}

	100% {
		transform: translate(-50%, -50%) scale(1, 1);
	}
}

@keyframes lightbox-zoom-out {
	0% {
		visibility: visible;
		transform: translate(-50%, -50%) scale(1, 1);
	}

	99% {
		visibility: visible;
	}

	100% {
		visibility: hidden;
		transform: translate(
				/* stylelint-disable-next-line scss/operator-no-newline-after */
					calc(
						(-100vw + var(--wp--lightbox-scrollbar-width)) / 2 +
							var(--wp--lightbox-initial-left-position)
					),
				calc(-50vh + var(--wp--lightbox-initial-top-position))
			)
			scale(var(--wp--lightbox-scale));
	}
}

@keyframes turn-on-visibility {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.wp-block-laao-event-lightbox-overlay {
	@apply fixed inset-0 -z-10 h-screen w-full cursor-zoom-out overflow-hidden bg-black/85 backdrop-blur-sm;

	&.active {
		@apply animate-[turn-on-visibility_300ms];
	}
}

/* Event Gallery Block Lighbox */
.wp-block-laao-event-lightbox {
	@apply fixed inset-0 z-[9999];

	button.wp-block-laao-event-lightbox-close {
		@apply mr-4 flex items-center text-[--wp--preset--color--laao-white] transition-all duration-300 ease-in-out;

		svg {
			@apply h-7 w-7 fill-current;
		}

		&:hover,
		&:focus {
			@apply text-[--wp--preset--color--laao-red];
		}
	}

	a.wp-block-laao-event-lightbox-social-link {
		@apply fill-[--wp--preset--color--laao-white];

		&:hover {
			@apply fill-[--wp--preset--color--laao-red];
		}

		svg {
			@apply h-[1.75rem] max-h-[1.75rem] w-[1.75rem] max-w-[1.75rem];
		}
	}

	button.wp-block-laao-event-lightbox-next,
	button.wp-block-laao-event-lightbox-previous {
		@apply absolute top-0 z-20 flex h-[100vh] w-[3vw] items-center justify-center p-[--wp--preset--spacing--32] text-[--wp--preset--color--laao-white];

		svg {
			@apply h-auto min-w-7 fill-current drop-shadow-[2px_2px_6px_rgba(0,0,0,100%)] transition-all duration-300 ease-in-out;
		}

		&:hover svg,
		&:focus svg {
			@apply fill-[--wp--preset--color--laao-red];
		}
	}

	button.wp-block-laao-event-lightbox-previous {
		@apply left-0;
	}

	button.wp-block-laao-event-lightbox-next {
		@apply right-0;
	}
}

.wp-block-laao-event-lightbox-header {
	@apply relative z-50 flex max-w-[100vw] justify-between bg-black/70 px-4;

	.wp-block-laao-event-lightbox-social {
		@apply -mr-8 flex h-full list-none place-content-center items-center p-0;

		@media (--bp-md) {
			@apply w-full;
		}

		.wp-block-laao-event-lightbox-social-item {
			@apply p-4;
		}
	}
}

& .zoom {
	.wp-block-laao-event-lightbox-content {
		.wp-block-laao-event-lightbox-image-container {
			@apply absolute left-[50%] top-[50%] h-[--wp--lightbox-container-height] w-[--wp--lightbox-container-width] origin-top-left -translate-x-1/2 -translate-y-1/2 animate-[lightbox-zoom-in_600ms] overflow-hidden;

			& img {
				@apply h-full min-w-full object-contain object-center;
			}
		}
	}
}
