@import "../_breakpoints.css";

*:has(> .wp-block-social-links) {
	/* Hide the .wp-blocks-social-links if it's not in the .site-footer */
	&
		.wp-block-social-links:not(.site-footer .wp-block-social-links):not(
			.site-nav .wp-block-social-links
		) {
		display: none;

		@media (--bp-sm) {
			display: flex;
		}
	}

	li {
		color: var(--wp--preset--color--laao-red);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;

		&:hover {
			--tw-scale-x: 1.25;
			--tw-scale-y: 1.25;
			transform: translate(var(--tw-translate-x), var(--tw-translate-y))
				rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
				skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
				scaleY(var(--tw-scale-y));
			color: var(--wp--preset--color--laao-black);
		}
	}

	.wp-social-link {
		svg {
			height: var(--wp--preset--spacing--32);
			width: var(--wp--preset--spacing--32);
			fill: currentcolor;
		}
	}
}
