/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-laao-hero {
	position: relative;
	margin: 0;
	height: 500px;
	overflow: hidden;

	.wp-block-laao-hero-content {
		position: relative;
		z-index: 10;
	}

	.wp-block-laao-hero-slider {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;

		.wp-block-laao-hero-slide {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 5;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
			opacity: 1;
		}
	}
}
