/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "../../styles/_breakpoints.css";

.wp-block-laao-hero {
	@apply relative m-0 h-[500px] overflow-hidden border-b-[1.5rem] border-b-wp-laao-white;

	.wp-block-laao-hero-caption-container {
		@apply absolute bottom-0 z-10 grid w-full grid-cols-12 px-wp-16;

		@media (--bp-md) {
			@apply px-wp-44;
		}

		.wp-block-laao-hero-caption {
			@apply col-span-12 mb-wp-8 text-center text-wp-small text-wp-laao-dark-gray;

			@media (--bp-md) {
				@apply col-span-12 col-end-13 mt-wp-8 justify-self-end;
			}

			@media (--bp-lg) {
				@apply col-span-12 col-end-10;
			}

			@media (--bp-2xl) {
				@apply col-span-12 col-end-11 text-left;
			}
		}
	}
	.wp-block-laao-hero-content {
		@apply relative z-10 grid h-full grid-cols-12;

		@media (--bp-md) {
			@apply gap-wp-24 px-wp-16;
		}

		@media (--bp-md) {
			@apply content-center px-wp-44;
		}

		/* Logo */
		& > *:nth-child(1) {
			@apply order-2 col-span-12 place-self-start justify-self-center;

			@media (--bp-md) {
				@apply order-1 col-span-4 place-self-center justify-self-start;
			}

			@media (--bp-lg) {
				@apply col-span-3;
			}
		}

		/* Banner Ad */
		& > *:nth-child(2) {
			@apply order-1 col-span-12 w-full;

			@media (--bp-md) {
				@apply order-2 col-span-7 col-start-6 items-center;
			}

			@media (--bp-lg) {
				@apply col-span-6 col-start-4;
			}

			@media (--bp-2xl) {
				@apply col-span-6 col-start-5 place-self-end self-center;
			}
		}
	}

	.wp-block-laao-hero-slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.wp-block-laao-hero-slide {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: 25% center;
			opacity: 0;
			transition: opacity 1s ease-out;

			&.is-active {
				z-index: 5;
				opacity: 1;
				animation: kenburns 8s linear;
			}
		}
	}
}

@keyframes kenburns {
	0% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
