@import "../_breakpoints.css";

.cover-article {
	align-items: flex-start;
	flex-direction: column;

	@media (--bp-lg) {
		flex-direction: initial;
	}

	.cover-article-media-container {
		@apply w-full;

		.wp-block-post-featured-image {
			@apply w-full;
		}

		.cover-article-secondary-images {
			img {
				@apply max-w-full;
			}
		}
	}

	.wp-block-post-content {
		@apply block;
	}
}
