@import "../../styles/_breakpoints.css";

/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-laao-whats-hot {
	display: grid !important;
	grid-template-columns: repeat(1, minmax(0, 1fr));

	& > div > div > div {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 1rem;
		padding: 0;

		@media (--bp-md) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
	}
}
