@import "../../styles/_breakpoints.css";

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-laao-whats-hot {
	display: grid !important;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	padding: 0;

	@media (--bp-md) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

.whats-hot-item {
	position: relative;
	border-color: var(--wp--preset--color--laao-white);

	&:first-child {
		border-bottom-width: 0.75rem;
		border-left-width: 1.5rem;
		border-right-width: 0.75rem;
		border-top-width: 1.5rem;
	}

	&:nth-child(2) {
		border-bottom-width: 0.75rem;
		border-left-width: 0.75rem;
		border-right-width: 1.5rem;
		border-top-width: 1.5rem;
	}

	&:nth-child(3) {
		border-bottom-width: 1.5rem;
		border-left-width: 1.5rem;
		border-right-width: 0.75rem;
		border-top-width: 0.75rem;
	}

	&:last-child {
		border-bottom-width: 1.5rem;
		border-left-width: 0.75rem;
		border-right-width: 1.5rem;
		border-top-width: 0.75rem;
	}

	@media (--bp-md) {
		&:first-child {
			border-bottom-width: 1.5rem;
			border-left-width: 1.5rem;
			border-right-width: 0.75rem;
			border-top-width: 1.5rem;
		}

		&:nth-child(2) {
			border-bottom-width: 1.5rem;
			border-left-width: 0.75rem;
			border-right-width: 0.75rem;
			border-top-width: 1.5rem;
		}

		&:nth-child(3) {
			border-bottom-width: 1.5rem;
			border-left-width: 0.75rem;
			border-right-width: 0.75rem;
			border-top-width: 1.5rem;
		}

		&:last-child {
			border-bottom-width: 1.5rem;
			border-left-width: 0.75rem;
			border-right-width: 1.5rem;
			border-top-width: 1.5rem;
		}
	}
}

.whats-hot-link {
	display: flex;
	height: 100%;
}

.whats-hot-figure {
	position: relative;
	margin: 0;
}

.whats-hot-image-container {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.whats-hot-image {
	height: 100%;
	max-width: 100%;
	transform-origin: center;
	object-fit: cover;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.whats-hot-link:hover .whats-hot-image {
	transform: scale(1.1);
}

.whats-hot-caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgb(0 0 0 / 0.1);
	padding: 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
	line-height: 1.25;
	color: var(--wp--preset--color--laao-white);
	--tw-backdrop-blur: blur(12px);
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.whats-hot-text {
	font-size: 1rem;
	font-weight: 700;
	margin-top: 0.5rem;
}

.whats-hot-no-posts {
	padding: 1rem;
	background-color: #f8f8f8;
	text-align: center;
}
