@import "../../styles/_breakpoints.css";

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-laao-whats-hot {
	@apply -mt-20 !grid grid-cols-2 gap-4 p-0;

	@media (--bp-md) {
		@apply grid-cols-4;
	}
}

.whats-hot-item {
	@apply border-[1.5rem] border-wp-laao-white bg-wp-laao-white;

	&:hover {
	}
}

.whats-hot-link {
	display: block;
	color: inherit;
	text-decoration: none;
}

.whats-hot-figure {
	position: relative;
	margin: 0;
	overflow: hidden;
	/* aspect-ratio: 1/1; */
}

.whats-hot-image-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.whats-hot-image {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease;
	transform-origin: center center;
}

.whats-hot-link:hover .whats-hot-image {
	transform: scale(1.1);
}

.whats-hot-caption {
	text-align: center;
	font-size: 0.75rem;
	line-height: 1.4;
	color: #666;
	margin-top: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.whats-hot-text {
	font-size: 1rem;
	font-weight: 700;
	margin-top: 0.5rem;
}

.whats-hot-no-posts {
	padding: 1rem;
	background-color: #f8f8f8;
	text-align: center;
}
