@import "../../styles/_breakpoints.css";

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-laao-whats-hot {
	@apply !grid grid-cols-2 gap-4 p-0;
	margin-block-start: 0 !important;

	@media (--bp-md) {
		@apply grid-cols-4;
	}
}

.whats-hot-item {
	@apply border-[1.5rem] border-wp-laao-white bg-wp-laao-white;
}

.whats-hot-link {
	@apply flex h-full;
}

.whats-hot-figure {
	@apply relative m-0 flex flex-col justify-center;
}

.whats-hot-image-container {
	@apply relative h-fit overflow-hidden;
}

.whats-hot-image {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease;
	transform-origin: center center;
}

.whats-hot-link:hover .whats-hot-image {
	transform: scale(1.1);
}

.whats-hot-caption {
	@apply flex flex-1 items-center justify-center bg-wp-laao-light-gray p-4 text-center text-sm leading-5;
}

.whats-hot-text {
	font-size: 1rem;
	font-weight: 700;
	margin-top: 0.5rem;
}

.whats-hot-no-posts {
	padding: 1rem;
	background-color: #f8f8f8;
	text-align: center;
}
