/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-laao-post-featured-image {
	& img {
		width: 100%;
	}

	& .wp-block-laao-post-featured-image-caption {
		background-color: var(--wp--preset--color--laao-light-gray);
		padding: var(--wp--preset--spacing--16);
		font-size: 0.75rem;
		line-height: 1rem;
		line-height: 1.25;
		color: var(--wp--preset--color--laao-dark-gray);
	}
}
