/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-laao-site-logo {
	svg {
		height: auto;
		width: 100%;

		.a {
			fill: var(--wp--preset--color--laao-white);
		}

		.b {
			fill: var(--wp--preset--color--laao-red);
		}
	}
}
