@import "../../styles/_breakpoints.css";

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-laao-site-logo {
	height: fit-content;
	width: fit-content;
	img {
		height: 100%;
		width: 100%;
		max-width: 13rem;

		@media (--bp-md) {
			width: 16rem;
		}

		.a {
			fill: var(--wp--preset--color--laao-white);
		}

		.b {
			fill: var(--wp--preset--color--laao-red);
		}
	}
}
