<!-- wp:group {"tagName":"article","style":{"spacing":{"padding":{"right":"var:preset|spacing|24","left":"var:preset|spacing|24","top":"var:preset|spacing|24","bottom":"var:preset|spacing|24"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"laao-white","className":"site-article","layout":{"type":"grid","columnCount":"2","minimumColumnWidth":null}} -->
<article
	class="wp-block-group site-article has-laao-white-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--24);padding-right:var(--wp--preset--spacing--24);padding-bottom:var(--wp--preset--spacing--24);padding-left:var(--wp--preset--spacing--24)">
	<!-- wp:group {"className":"article-images","layout":{"type":"constrained"}} -->
	<div class="wp-block-group article-images"><!-- wp:post-featured-image /--></div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"article-content","layout":{"type":"constrained"}} -->
	<div class="wp-block-group article-content"><!-- wp:post-title /-->

		<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->
</article>
<!-- /wp:group -->
