<!-- wp:template-part {"slug":"header","theme":"laao","area":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"section","className":"wp-block-laao-hero-container","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<section
	class="wp-block-group wp-block-laao-hero-container"
	style="margin-top: 0; margin-bottom: 0"
>
	<!-- wp:laao/hero /-->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"site-main","layout":{"type":"grid","columnCount":"12","minimumColumnWidth":null}} -->
<main class="wp-block-group site-main" style="margin-top: 0; margin-bottom: 0">
	<!-- wp:group {"tagName":"section","style":{"layout":{"columnSpan":""}},"className":"site-content","layout":{"type":"default"}} -->
	<section class="wp-block-group site-content">
		<!-- wp:post-title /-->

		<!-- wp:post-content /-->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"aside","style":{"layout":{"columnSpan":""}},"className":"site-nav","layout":{"type":"default"}} -->
	<aside class="wp-block-group site-nav">
		<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search...","width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"backgroundColor":"laao-transparent","className":"site-nav-search"} /-->

		<!-- wp:navigation {"ref":48884,"textColor":"laao-white","backgroundColor":"laao-black","overlayMenu":"never","layout":{"type":"flex","justifyContent":"left","orientation":"vertical","flexWrap":"nowrap"},"style":{"typography":{"textTransform":"uppercase"},"spacing":{"blockGap":"var:preset|spacing|8"}}} /-->
	</aside>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"laao","className":"site-footer"} /-->
