/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-laao-animate-on-scroll {
	/* Base variables */
	--wp-block-laao-animate-on-scroll-animation-duration: 0.6s;
	--wp-block-laao-animate-on-scroll-stagger-delay: 0.1s;
	--wp-block-laao-animate-on-scroll-animation-timing: cubic-bezier(
		0.4,
		0,
		0.2,
		1
	);
	--wp-block-laao-animate-on-scroll-slide-distance: 50px;
	--wp-block-laao-animate-on-scroll-blur-amount: 20px;
	--wp-block-laao-animate-on-scroll-zoom-in-start: 0.5;
	--wp-block-laao-animate-on-scroll-zoom-out-start: 1.5;
	--wp-block-laao-animate-on-scroll-rotate-angle: 90deg;
	--wp-block-laao-animate-on-scroll-perspective: 1000px;

	/* Base styles */
	display: block;
	will-change: transform, opacity, filter;

	/* Remove margin-top for constrained blocks */
	:root :where(.is-layout-constrained) > & {
		margin-block-start: 0 !important;
	}

	/* No stagger children, apply parent animations */
	& > * {
		opacity: 0;
		transition: all
			var(--wp-block-laao-animate-on-scroll-animation-duration)
			var(--wp-block-laao-animate-on-scroll-animation-timing);
	}

	&.is-visible > * {
		opacity: 1;
		transform: none !important;
		filter: none !important;
	}

	&.slide > *,
	&.zoom > *,
	&.flip > *,
	&.rotate > * {
		transform-origin: center center;
	}

	&.blur > * {
		filter: blur(var(--wp-block-laao-animate-on-scroll-blur-amount));
	}

	&.slide {
		&.up > * {
			transform: translateY(
				var(--wp-block-laao-animate-on-scroll-slide-distance)
			);
		}

		&.down > * {
			transform: translateY(
				calc(-1 * var(--wp-block-laao-animate-on-scroll-slide-distance))
			);
		}

		&.left > * {
			transform: translateX(
				var(--wp-block-laao-animate-on-scroll-slide-distance)
			);
		}

		&.right > * {
			transform: translateX(
				calc(-1 * var(--wp-block-laao-animate-on-scroll-slide-distance))
			);
		}
	}

	&.zoom {
		&.in > * {
			transform: scale(
				var(--wp-block-laao-animate-on-scroll-zoom-in-start)
			);
		}

		&.out > * {
			transform: scale(
				var(--wp-block-laao-animate-on-scroll-zoom-out-start)
			);
		}
	}

	&.flip {
		&.up > * {
			transform: perspective(
					var(--wp-block-laao-animate-on-scroll-perspective)
				)
				rotateX(var(--wp-block-laao-animate-on-scroll-rotate-angle));
		}

		&.down > * {
			transform: perspective(
					var(--wp-block-laao-animate-on-scroll-perspective)
				)
				rotateX(
					calc(
						-1 * var(--wp-block-laao-animate-on-scroll-rotate-angle)
					)
				);
		}

		&.left > * {
			transform: perspective(
					var(--wp-block-laao-animate-on-scroll-perspective)
				)
				rotateY(
					calc(
						-1 * var(--wp-block-laao-animate-on-scroll-rotate-angle)
					)
				);
		}

		&.right > * {
			transform: perspective(
					var(--wp-block-laao-animate-on-scroll-perspective)
				)
				rotateY(var(--wp-block-laao-animate-on-scroll-rotate-angle));
		}
	}

	&.rotate {
		&.up > * {
			transform: rotate(
				var(--wp-block-laao-animate-on-scroll-rotate-angle)
			);
		}

		&.down > * {
			transform: rotate(
				calc(-1 * var(--wp-block-laao-animate-on-scroll-rotate-angle))
			);
		}

		&.left > * {
			transform: rotate(
				var(--wp-block-laao-animate-on-scroll-rotate-angle)
			);
		}

		&.right > * {
			transform: rotate(
				calc(-1 * var(--wp-block-laao-animate-on-scroll-rotate-angle))
			);
		}
	}

	/* Stagger children, Apply parent animation type to children not parent */
	&[data-stagger-children="true"] {
		transform: none;

		& > *:nth-child(1) {
			transition-delay: 0s;
		}

		& > *:nth-child(2) {
			transition-delay: var(
				--wp-block-laao-animate-on-scroll-stagger-delay
			);
		}

		& > *:nth-child(3) {
			transition-delay: calc(
				var(--wp-block-laao-animate-on-scroll-stagger-delay) * 2
			);
		}

		& > *:nth-child(4) {
			transition-delay: calc(
				var(--wp-block-laao-animate-on-scroll-stagger-delay) * 3
			);
		}

		& > *:nth-child(5) {
			transition-delay: calc(
				var(--wp-block-laao-animate-on-scroll-stagger-delay) * 4
			);
		}

		& > *:nth-child(6) {
			transition-delay: calc(
				var(--wp-block-laao-animate-on-scroll-stagger-delay) * 5
			);
		}

		& > *:nth-child(7) {
			transition-delay: calc(
				var(--wp-block-laao-animate-on-scroll-stagger-delay) * 6
			);
		}

		& > *:nth-child(8) {
			transition-delay: calc(
				var(--wp-block-laao-animate-on-scroll-stagger-delay) * 7
			);
		}

		& > *:nth-child(9) {
			transition-delay: calc(
				var(--wp-block-laao-animate-on-scroll-stagger-delay) * 8
			);
		}

		& > *:nth-child(10) {
			transition-delay: calc(
				var(--wp-block-laao-animate-on-scroll-stagger-delay) * 9
			);
		}
	}
}

.wp-block-laao-animate-on-scroll-debug-root-margin-overlay {
	@apply pointer-events-none fixed bottom-[var(--wp-block-laao-animate-on-scroll-margin-root-overlay-bottom)] left-[var(--wp-block-laao-animate-on-scroll-margin-root-overlay-left)] right-[var(--wp-block-laao-animate-on-scroll-margin-root-overlay-right)] top-[var(--wp-block-laao-animate-on-scroll-margin-root-overlay-top)] z-[999] h-[var(--wp-block-laao-animate-on-scroll-margin-root-overlay-height)] w-[var(--wp-block-laao-animate-on-scroll-margin-root-overlay-width)] border-2 border-dashed border-red-700 bg-red-200/60 backdrop-grayscale;

	&::after {
		@apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-md bg-red-600 px-2 py-2 text-sm text-white content-["RootMargin_Area"];
	}
}

[class*="wp-block-laao-animate-on-scroll-debug-container"] {
	@apply pointer-events-none absolute bottom-0 left-0 right-0 top-0 z-[999] bg-white/65 backdrop-blur-[1px] backdrop-grayscale;

	[class*="wp-block-laao-animate-on-scroll-debug-intersection-line-"] {
		@apply pointer-events-none absolute top-[var(--wp-block-laao-animate-on-scroll-debug-intersection-line-top)] z-[999] h-[1px] w-full translate-y-[-1px] border-t-2 border-dashed border-red-600;
	}

	[class*="wp-block-laao-animate-on-scroll-debug-intersection-line-label-"] {
		@apply absolute left-1/2 right-0 top-[var(--wp-block-laao-animate-on-scroll-debug-intersection-line-label-top)] z-[999] flex h-auto w-max -translate-x-1/2 -translate-y-1/2 rounded-md border-none bg-red-600 px-2 py-2 text-sm text-white;
	}
}
