@import "../../styles/_breakpoints.css";

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

/* Base modal styling */
.wp-block-laao-modal {
	margin-bottom: 1rem;

	&.is-selected,
	is-hovered {
		--tw-shadow: 0 0 0 2px #3b82f6 !important;
		--tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color) !important;
		box-shadow:
			var(--tw-ring-offset-shadow, 0 0 #0000),
			var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
	}

	.wp-block-laao-modal-container {
		position: relative;
		display: block;
		background-color: transparent;
	}

	.modal-editor-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--wp--preset--color--laao-light-gray);
		padding: 1rem;
		font-size: 0.75rem;
		line-height: 1rem;
	}

	.modal-editor-footer-item {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}
